@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio erat, tristique sit amet malesuada sed, laoreet id odio. Aenean in lectus viverra, bibendum risus placerat, tempus risus. Donec ut sagittis libero, nec interdum elit. Praesent lacus nunc, porta in sem tristique, varius cursus quam. Nulla ultricies viverra vestibulum. Proin orci turpis, elementum vel nunc vitae, condimentum fermentum orci. Cras ac accumsan eros, ut suscipit nisl. Pellentesque non mauris at lectus luctus vestibulum non id ligula. Aenean leo libero, semper nec dictum non, iaculis sed nisi. Proin in semper nisl, a pretium justo. Proin nec nulla volutpat, sollicitudin purus vel, finibus est. Aliquam eu metus neque. Mauris gravida leo et leo suscipit, vel fermentum erat rhoncus. Etiam tristique tincidunt metus.
</p>

<p>Nunc at semper tortor. Quisque suscipit nisi ac commodo vestibulum. Maecenas non suscipit massa. Nam sodales sodales placerat. Praesent semper justo sit amet diam efficitur ornare. Mauris ultricies vehicula lorem vel dapibus. Donec ornare lacus ligula, sit amet tincidunt risus lobortis et. Aliquam est dui, tincidunt at mauris sit amet, scelerisque blandit ipsum. Ut luctus augue vitae turpis faucibus, id maximus tellus ornare. Nulla aliquam blandit erat, et tempus nibh aliquet in. Integer laoreet mi eu enim placerat, at laoreet diam mattis. Sed a tellus vel turpis condimentum ultricies.</p>

<p>	Fusce fringilla congue viverra. Phasellus et magna lobortis velit venenatis scelerisque. Curabitur pretium condimentum efficitur. Ut ut neque sed erat imperdiet tincidunt. Vivamus ante metus, lacinia sit amet luctus in, posuere at orci. Suspendisse blandit mauris non sem pharetra dignissim. Nullam id aliquam tellus. Vestibulum dignissim facilisis ipsum non venenatis. Ut vestibulum id augue vitae congue. Aenean blandit vel urna mollis scelerisque. In vestibulum risus arcu. Sed in nunc aliquet, elementum nulla sed, auctor neque. Sed aliquam enim eros, nec vehicula elit viverra eu.</p>

